/* Begin Typography & Colors */

body {
	font-size: 70%; /* Resets 1em to 10px */
	font-family: "Trebuchet MS";
	background: #FFF url('images/bg.jpg') top repeat-x;
	color: #333;
	text-align: center;
}
h1, h1 a, h1 a:hover, h1 a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #000000;
}
#left_side h2, #right_side h2 {
	color: #000000;
}
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #left_side h2, #right_side h2, #wp-calendar caption, cite {
	text-decoration: none;
}
#page {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	background:#FFFFFF;
}
#header {
	background: url('images/bg_header.jpg') no-repeat left;
	margin: 0px;
	padding: 0px;
	height: 230px;
	width: 960px;
}
#headerimg {
	padding: 0px;
	padding-top:50px;
	height: 130px;
}
#headerimg h1 {
	padding:0px;
	margin:0px;
	font-size:32px;
	font-family:"Trebuchet MS";
	color: #FFFFFF;
	text-align:left;
	font-weight:bold;
}
#headerimg .description {
	font-size: 1.2em;
	text-align:left;
	color:#FFFFFF;
}
#content {
	float:left;
	font-size: 1.2em;
}
.widecolumn .entry p {
	font-size: 1.05em;
}
.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.6em;
}
.widecolumn {
	line-height: 2.8em;
}
.narrowcolumn .postmetadata {
	text-align: center;
}
.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#footer {
	background:url('images/bg_footer.jpg') top repeat-x;
	border: none;
}
small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
}
h1, h2, h3 {
	font-family: 'Trebuchet MS';
	font-weight: bold;
}
h2 {
	font-size: 2.2em;
	padding:0px;
	margin:0px;
}
h2.pagetitle {
	font-size: 2.2em;
}
#left_side h2, #right_side h2 {
	font-family: "Trebuchet MS";
	font-size: 1.6em;
	font-weight:normal;
}
h3 {
	font-size: 1.3em;
}
.entry p a:visited {
	color: #b85b5a;
}
.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em "Trebuchet MS";
}
.commentlist li {
	font-weight: bold;
}
.commentlist li .avatar {
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
}
.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
}
.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
}
#commentform p {
	font-family: "Trebuchet MS";
}
.commentmetadata {
	font-weight: normal;
}
#left_side, #right_side {
	font: 1.1em "Trebuchet MS";
}
small, #left_side ul ul li, #left_side ul ol li, #right_side ul ul li, #right_side ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
}
code {
	font: 1.1em "Trebuchet MS";
}
acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
}
a, h2 a:hover, h3 a:hover {
	color: #EE3C22;
}
a:hover {
	color: #EE3C22;
	text-decoration: none;
}
#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
}
#wp-calendar a {
	text-decoration: none;
}
#wp-calendar caption {
	font: bold 1.3em "Trebuchet MS";
	text-align: center;
}
#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}
/* End Typography & Colors */


/* Begin Structure */

body {
	margin: 0px;
	padding: 0px;
}
#menu {
	display: inline;
	float: left;
	margin: 0px;
	width: 770px;
	height: 46px;
	background: url(images/bg_menu.jpg) no-repeat;
	font-family: "Trebuchet MS";
	font-size:13px;
	color: #88A216;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}
#menu ul li {
	display: inline;
	float:left;
	padding: 0 10px 0 10px;
	font-weight: bold;
	color: #88A216;
	background: url(images/divider.gif) right no-repeat;
}
#menu ul li a {
	display:block;
	float:left;
	padding:0px 10px 0px 10px;
	height: auto !important;
	height:42px;
	line-height:42px;
	color: #fff;
	text-decoration:none;
}
#menu ul li a:link {
	display:block;
	float:left;
	padding:0px 10px 0px 10px;
	height: auto !important;
	height:42px;
	line-height:42px;
	color: #fff;
	text-decoration:none;
}
#menu ul li a:hover {
	display:block;
	float:left;
	padding:0px 10px 0px 10px;
	color: #fff;
	text-decoration: none;
	height: auto !important;
	height:42px;
	line-height:42px;
	background: url(images/bg_menu_hover.png) repeat-x;
}
#menu ul li h1 {
	font-size: 12px;
}
#search {
	float:right;
	padding-left:5px;
	width:185px;
	background:url(images/bg_search.jpg) top repeat-x;
}
#sidebars {
	width:380px;
	background:url(images/bg_sidebars.png) top no-repeat;
	float:right;
	padding:0px 35px 0px 35px;
}
.narrowcolumn {
	float: left;
	padding:10px 0px;
	margin:0px;
	width: 500px;
}
.widecolumn {
	float:left;
	padding: 0px;
	margin: 0px;
	width: 500px;
}
.post {
	margin: 0px;
}
.post hr {
	display: block;
}
.widecolumn .post {
	margin: 0;
}
.narrowcolumn .postmetadata {
	padding-top: 5px;
}
.widecolumn .postmetadata {
	margin: 30px 0;
}
.widecolumn .smallattachment {
	text-align: center;
	float: left;
	width: 128px;
	margin: 5px 5px 5px 0px;
}
.widecolumn .attachment {
	text-align: center;
	margin: 5px 0px;
}
.postmetadata {
	clear: left;
}
.clear {
	clear: both;
}
#footer {
	padding: 0;
	margin: 0 auto;
	width: 960px;
	clear: both;
	height:43px;
}
#footer p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-family:"Trebuchet MS";
	font-size:1.1em;
	color:#FFFFFF;
}
/* End Structure */







/*	Begin Headers */




h2.pagetitle {
	margin-top: 30px;
}
#left_side h2, #right_side h2 {
	height:24px;
	margin: 5px 0 0;
	padding:9px 0px 0px 0px;
}
h3 {
	padding: 0;
	margin: 30px 0 0;
}
h3.comments {
	padding: 0;
	margin: 40px auto 20px;
}
/* End Headers */







/* Begin Images */

p img {
	padding: 0;
	max-width: 100%;
}
/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}
img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.alignright {
	float: right;
	color:#EE3C22;
}
.alignright a {
	color:#EE3C22;
}
.alignleft {
	float: left;
	color:#EE3C22;
}
.alignleft a {
	color:#EE3C22;
}
/* End Images */







/* Begin Lists



	Special stylized non-IE bullets

	Do not work in Internet Explorer, which merely default to normal bullets. */



html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
}
html>body .entry li {
	margin: 7px 0 8px 10px;
}
.entry ul li:before, #left_side ul ul li:before, #right_side ul ul li:before {
	content: "\00BB \0020";
}
.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
}
.entry ol li {
	margin: 0;
	padding: 0;
}
.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
}
#left_side ul, #left_side ul ol {
	margin: 0;
	padding: 0;
}
#left_side ul li {
	list-style-type: none;
	list-style-image: none;
}
#right_side ul, #right_side ul ol {
	margin: 0;
	padding: 0;
}
#right_side ul li {
	list-style-type: none;
	list-style-image: none;
}
#left_side ul p, #left_side ul select, #right_side ul p, #right_side ul select {
	margin: 5px 0 8px;
}
#left_side ul ul ul, #left_side ul ol, #right_side ul ul ul, #right_side ul ol {
	margin: 0 0 0 10px;
}
ol li, #left_side ul ol li, #right_side ul ol li {
	list-style: decimal outside;
}
#left_side ul ul li, #left_side ul ol li, #right_side ul ul li, #right_side ul ol li {
	margin: 3px 0 0;
	padding: 0;
}
/* End Entry Lists */







/* Begin Form Elements */

#searchform {
	margin: 0px;
	padding:0px;
	text-align: center;
}
#s {
	width:136px;
	border:0px;
}
#searchsubmit {
	background: url(images/search_button.gif) no-repeat right;
	width:49px;
	height:46px;
	border:0px;
	margin:0px;
}
.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
}
select {
	width: 130px;
}
#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
}
#commentform textarea {
	width: 100%;
	padding: 2px;
}
#commentform #submit {
	margin: 0;
	float: right;
}
/* End Form Elements */







/* Begin Comments*/

.alt {
	margin: 0;
	padding: 10px;
}
.commentlist {
	padding: 0;
	text-align: justify;
}
.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
}
.commentlist p {
	margin: 10px 5px 10px 0;
}
#commentform p {
	margin: 5px 0;
}
.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
}
.commentmetadata {
	margin: 0;
	display: block;
}
/* End Comments */







/* Begin Sidebar */
#left_side {
	float:left;
	padding:0px;
	margin-top:-15px;
	width: 190px;
}
#left_side div {
	margin-bottom:0px;
}
#left_side div div {
	margin:0px;
	padding:0px;
}
#left_side li ul, #right_side li ul {
	padding-left:7px;
	padding-top:5px;
	padding-bottom:5px;
}
#left_side form {
	margin: 0;
}
#right_side {
	float:right;
	margin-top:-15px;
	width: 190px;
}
#right_side div {
	margin-bottom:0px;
}
#right_side div div {
	margin:0px;
	padding:0px;
}
#right_side form {
	margin: 0;
}
.widget div {
	padding-left:7px;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid #C5C5C5;
	background: #ECECEC;
}
/* End Sidebar */







/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
}
#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}
#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}
#wp-calendar a {
	display: block;
	text-decoration:underline;
}
#wp-calendar caption {
	text-align: center;
	width: 100%;
}
#wp-calendar td {
	padding: 3px 0;
	text-align: center;
}
#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff;
}
/* End Calendar */







/* Begin Various Tags & Classes */

acronym, abbr, span.caps {
	cursor: help;
}
acronym, abbr {
	border-bottom: 1px dashed #999;
}
blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
}
blockquote cite {
	margin: 5px 0 0;
	display: block;
}
.center {
	text-align: center;
}
hr {
	display: none;
}
a img {
	border: none;
}
.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
}

/* End Various Tags & Classes*/
